@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainColor: rgb(59, 131, 246);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: rgba(55, 65, 81, 0.171); */
    --background: #f3f4f6;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
